#network-vis {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#hierarchy-vis {
  margin-top: 5em;
  width: 100%;
  height: 90vh;
  overflow: scroll;
  border-left: 1px;
}

.vis-network {
  outline: none;
}

.alert {
  display: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.queryStyle {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: white !important;
  color: black !important;
}
