#network-vis {
  width: 100%;
  height: 78vh;
  overflow: hidden;
  margin-top: -1em;
}

#hierarchy-vis {
  margin-top: -5em;
  width: 100%;
  height: 85vh;
  overflow: scroll;
  border-left: 1px;
}

.vis-network {
  outline: none;
}

#network-vis .vis-network:focus {
  outline: none;
}

.alert {
  display: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.queryStyle {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: white !important;
  color: black !important;
}

.jstree-icon {
  color: cornflowerblue;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.search-bar {
  margin-top: 6em;
  margin-left: 17em;
}

#filter-card {
  position: fixed;
  left: 8px;
  top: 75px;
  width: 275px;
  max-height: 500px;
  z-index: 1;
  display: none;
  overflow: scroll;
}

.privilege-checkboxes {
  overflow: scroll;
  padding-top: 5px;
  min-height: 420px;
}

.filter-card-objects {
  border-color: #007bff;
  color: #007bff;
}

.filter-card-header-objects {
  color: #007bff;
}

.filter-card-header-nodes {
  color: #019256;
}

.filter-card-nodes {
  border-color: #019256;
  color: #019256;
}

.panel-heading .accordion-toggle {
  font-size: medium;
}

.panel-heading {
  background-color: #f8f9fa !important;
  padding: 10px 10px 10px 8px;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Font Awesome 5 Free';
  /* symbol for "opening" panels */
  content: '\f0ab';
  padding-right: 3px;
  font-weight: 900;
  right: 0px;
  top: 10px;
  position: absolute;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: '\f0a9';
}

.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.select-wrapper {
  margin: auto;
  max-width: 600px;
  width: calc(100% - 40px);
}

.select-pure__select {
  align-items: center;
  /* background: #f9f9f8; */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #363b3e;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: left;
  min-height: 44px;
  padding: 5px 10px;
  position: relative;
  transition: 0.2s;
  width: 100%;
}

.select-pure__options {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #363b3e;
  display: none;
  left: 0;
  max-height: 350px;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 5;
}

.select-pure__select--opened .select-pure__options {
  display: block;
}

.select-pure__option {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
  height: 44px;
  line-height: 25px;
  padding: 10px;
}

.select-pure__option--disabled {
  color: #e4e4e4;
}

.select-pure__option--selected {
  color: #e4e4e4;
  cursor: initial;
  pointer-events: none;
}

.select-pure__option--hidden {
  display: none;
}

.select-pure__selected-label {
  align-items: 'center';
  background: #5e6264;
  border-radius: 4px;
  color: #fff;
  cursor: initial;
  display: inline-flex;
  justify-content: 'center';
  margin: 5px 10px 5px 0;
  padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
  margin-right: 0;
}

.select-pure__selected-label i {
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
}

.select-pure__selected-label img {
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin-left: 7px;
  width: 14px;
}

.select-pure__selected-label i:hover {
  color: #e4e4e4;
}

.select-pure__autocomplete {
  background: #f9f9f8;
  border-bottom: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.select-pure__placeholder--hidden {
  display: none;
}
