#network-vis {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin-top: -1em;
}

#hierarchy-vis {
  margin-top: -5em;
  width: 100%;
  height: 90vh;
  overflow: scroll;
  border-left: 1px;
}

.vis-network {
  outline: none;
}

.alert {
  display: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.queryStyle {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: white !important;
  color: black !important;
}

.jstree-icon {
  color: cornflowerblue;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.search-bar {
  margin-top: 6em;
  margin-left: 17em;
}

#filter-card {
  position: fixed;
  left: 0px;
  top: 75px;
  width: 270px;
  max-height: 500px;
  z-index: 1;
  display: none;
  overflow: scroll;
}

.privilege-checkboxes {
  overflow: scroll;
  padding-top: 5px;
}

.filter-card-objects {
  border-color: #007bff;
  color: #007bff;
}

.filter-card-header-objects {
  color: #007bff;
}

.filter-card-header-nodes {
  color: #ffbb78;
}

.filter-card-nodes {
  border-color: #ffbb78;
  color: #ffbb78;
}

.panel-heading .accordion-toggle {
  font-size: medium;
}

.panel-heading {
  background-color: #f8f9fa !important;
  padding: 10px 10px 10px 3px;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Font Awesome 5 Free';
  /* symbol for "opening" panels */
  content: '\f0ab';
  padding-right: 3px;
  font-weight: 900;
  right: 0px;
  top: 10px;
  position: absolute;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: '\f0a9';
}
