#network-vis {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin-top: -1em;
}

#hierarchy-vis {
  margin-top: -5em;
  width: 100%;
  height: 90vh;
  overflow: scroll;
  border-left: 1px;
}

.vis-network {
  outline: none;
}

.alert {
  display: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.queryStyle {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: white !important;
  color: black !important;
}

.jstree-icon {
  color: cornflowerblue;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.search-bar {
  margin-top: 6em;
  margin-left: 15em;
}
